*{
    padding: 0;
    margin: 0, auto;
}

body{
    background-color:#323030;
}

.fullcolor{
    background-color: cornflowerblue !important;
}

.halfcolor{
    background-color: rgba(100, 148, 237, 0.581) !important;
}

.sneakymargin{
    margin-left: 400px;
}