<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='ninjas.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='dojo_show.css')}}">
    <title>Dojo Showcaset</title>
</head>
<body>
    <div class="container mt-4">
        
        <h1 class="text-center text-light  mb-5">{{dojo.name}}'s Ninjas</h1>
        <table class="table table-striped border border-dark" style="text-align: center; width:500px;">
            <tr class="fullcolor" >
                <th class="tableheader">First Name</th>
                <th scope="col" >Last Name</th>
                <th scope="col" >Age </th>
            </tr>
            {% for ninja in all_ninjas %}
            <tr  class="halfcolor">
                <td>{{ninja.first_name}}</td>
                <td>{{ninja.last_name}}</td>
                <td>{{ninja.age}}</td>
            </tr>
            {% endfor %}
        </table>
        <a class="btn fullcolor sneakymargin" href="/dojos">Home</a>
    </div>
  



        
</body>
</html>